*.*

!go.mod
!go.sum
!.gitignore

!README.md

!main.go
!action/**
!cmd/**
!internal/**
!config/**
!engine/**
!secrets/**
!template/**
!trigger/**

!examples/*

!.schema/
!.schema/*
